<!-- Toolbar -->
<style>
  .btn-crud {
    cursor: pointer;
  }
  .card {
    margin: 20px 0;
    padding: 15px;
  }
  select {
    word-wrap: normal;
    padding: 7px 64px 7px 7px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
</style>
<div class="container">
  <h1 class="main-title">Linusu Tech Shop</h1>
  <h6 class="text-description">
    Welcome to the best tech shop in town! You can buy any PC part you want as
    long as you have money. But remember kids, don't drop your PC component!
  </h6>
  <button
    class="btn btn-primary"
    (click)="onCreatePlaylist(); openModal(content)"
  >
    New Order
  </button>
  <br /><br />
  <div class="playlist-card">
    <div class="card" *ngFor="let playlist of playlists; let i = index">
      <h3 class="card-title">${{ countMinutes(playlist.songs) }}</h3>
      <span class="card-subtitle">
        by {{ playlist.description }} .
        {{ playlist.titleplaylist }}
      </span>
      <!-- {{ countSong(playlist.songs) }} or {{ playlist.songs.length }} -->
      <div class="card-content">
        <!-- <p>{{ playlist.description }}</p> -->
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let song of playlist.songs; index as song_i">
              <th scope="row">{{ song_i + 1 }}</th>
              <td>
                <h4>{{ song.titlesong }}</h4>
                <span>{{ song.artist }} . ${{ song.duration }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-actions">
        <button class="btn btn-outline-dark" (click)="onDeletePlaylist(i)">
          Delete</button
        >&nbsp;
        <button
          class="btn btn-info"
          (click)="onUpdatePlaylist(i); openModal(content)"
        >
          Edit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- this is modal layout for manage playlist -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Create New Order / Edit Order</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('close modal event')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input
          [(ngModel)]="playlistselected.titleplaylist"
          type="option"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input
          [(ngModel)]="playlistselected.description"
          type="email"
          class="form-control"
        />
      </div>
    </div>
    <div class="form-group row">
      <table class="table table-striped">
        <tbody>
          <tr>
            <td>Name Product</td>
            <td>Name Item</td>
            <td>Price</td>
            <td>&nbsp;</td>
          </tr>
          <tr *ngFor="let song of playlistselected.songs; index as i">
            <td>
              <form
                method="get"
                [(ngModel)]="playlistselected.songs[i].titlesong"
              >
                <select name="Select Category">
                  <option value="Selec Category">{{ song.artist }}</option>
                  <option value="{{ song.artist }}">{{ song.artist }}</option>
                </select>
              </form>
            </td>
            <td>
              <form method="get">
                <select name="Select Item">
                  <option value="Selec Category"></option>
                  <option value="Acer">Acer</option>
                </select>
              </form>
            </td>
            <td>
              <input
                [(ngModel)]="playlistselected.songs[i].duration"
                type="number"
                class="form-control"
              />
            </td>
            <td>
              <a
                class="btn-crud"
                *ngIf="i == playlistselected.songs.length - 1"
                (click)="onAddSong()"
                >Add</a
              >&nbsp;
              <a class="btn-crud" (click)="onDeleteSong(i)">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('on save close')"
    >
      Cancel
    </button>
    <button type="button" class="btn btn-primary" (click)="onSavePlaylist()">
      Submit
    </button>
  </div>
</ng-template>

<!--
<router-outlet></router-outlet>
-->
