<!-- Toolbar -->
<div class="container">
  <h1 class="main-title">The Playlists</h1>
  <h3 class="text-description">Here you can create your own playlist, edit your already existing playlist, add songs, and show it to the world!</h3>
  <button (click)="openModal()">New Playlist</button>
  <br /><br />
  <div class="playlist-card">
    <div class="card" *ngFor="let playlist of playlists; let i=index">
      <h3 class="card-title">{{playlist.titleplaylist}}</h3>
      <span class="card-subtitle"> total {{ playlist.songs.length }} songs, {{ countMinutes(playlist.songs) }} minutes </span>
      <!-- {{ countSong(playlist.songs) }} or {{ playlist.songs.length }} -->
      <div class="card-content">
        <p>{{ playlist.description }}</p>
        <div class="list list-base" style="padding: 20px;" *ngFor="let song of playlist.songs">
          <div class="list-item list-item-avatar">
            <div class="list-item-content">
              <div class="list-text">
                <h4>{{ song.titlesong }}</h4>
                <p>by {{ song.artist }} · {{ song.duration }} minutes</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-actions">
        <button class="delete" (click)="onDelete(i);">Delete</button>&nbsp;
        <button class="edit" (click)="openModalWithClass(i)">Edit</button>
      </div>
    </div>
  </div>
</div>

<!--  -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalPopUp.hide()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div class="modal-body">
    <form>
      <input formControlName="playlist" placeholder="playlts">
      <input formControlName="description" placeholder="descrip">
      <input formControlName="song_title" placeholder="song title">
      <input formControlName="artist" placeholder="artist">
      <input formControlName="duration" placeholder="duration">
      <button>Add</button>
      <button>Minus</button>
    </form>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="modalPopUp.hide()">
      Close
    </button>
    <button type="button" class="btn btn-default" (click)="modalPopUp.hide()">
      Submit
    </button>
  </div>
</ng-template>






